.settings-page {
  max-width: 700px;
  margin: auto;
  flex-direction: column;
}

.file-picker {
  margin: 15px 0px;
}

.header {
  font-size: 18px;
  color: white;
  margin-top: 15px;
  font-weight: bold;
}